<footer>

  <ul class="social-link-group">
    <li class="social-link">
      <a href="https://www.behance.net/stefaniefluin" target="_blank"
        ><img
          src="../../assets/icons/behance.svg"
          height="24px"
          width="24px"
          alt="Behance logo icon"
      /></a>
    </li>
    <li class="social-link">
      <a href="https://www.linkedin.com/in/stefaniefluin/" target="_blank"
        ><img
          src="../../assets/icons/linkedin.svg"
          height="24px"
          width="24px"
          alt="LinkedIn logo icon"
      /></a>
    </li>
    <li class="social-link">
      <a href="https://www.twitter.com/stefaniefluin" target="_blank"
        ><img
          src="../../assets/icons/twitter.svg"
          height="24px"
          width="24px"
          alt="Twitter logo icon"
      /></a>
    </li>
    <li class="social-link">
      <a href="https://www.github.com/sjtrimble" target="_blank"
        ><img
          src="../../assets/icons/github.svg"
          height="14px"
          width="14px"
          alt="Twitter logo icon"
      /></a>
    </li>
  </ul>

  <span>Copyright © Stefanie Fluin Creative Labs</span>

</footer>
