<main class="container">
  <section class="section">
    <div>
      <h1>Coming Soon!</h1>
      <p>Personal explorations coming soon.</p>
      <p>
        Check out
        <a href="https://www.youtube.com/watch?v=RB4GQqU_54c" target="_blank"
          >this documentary</a
        >
        I put together on the biggest Angular conference in the United States,
        ng-conf.
      </p>
    </div>
  </section>

  <section class="section">
    <div>
      <h2>Thing I Enjoy Outside of Tech:</h2>
      <ul>
        <li>Trying New Foods</li>
        <li>Photography</li>
        <li>Salsa Dancing</li>
        <li>Makeup Artistry and Beauty Products</li>
      </ul>
    </div>
  </section>
</main>
