button {
  display: flex;
  height: 40px;
  border-radius: 50px;
  width: auto;
  min-width: 160px;
  background-color: $teal;
  color: $white;
  @include title-font();
  font-size: 18px;
  border: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  transition: all 1s;
  cursor: pointer;

  &:hover {
    transform: translate(0, -8px);
    background-color: darken($teal, 10%);
  }

  a {
    color: $white;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
}
