.case-study {

  .container {
    max-width: 50em;
  }

  .case-study-header {
    background: $lightgray;
    text-align: center;
  }

  .case-study-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    > * {
      > *:nth-child(2) {
        margin: 0.5rem 0 0;
        font-weight: bold;
      }
    }

    .case-study-client {
      margin-right: 1rem;
    }
  }

  h2 {
    text-align: center;
  }

  .container {
    padding: 1rem;
  }

  .case-study-concept {
    margin-bottom: 1rem;
  }

  .case-study-image {
    border: 1px solid $lightgray;
    border-radius: 18px;
    background: $white;
    padding: 1rem;
    box-shadow: 0px 6px 30px rgba($black, 0.1);
  }

  // ____________________________________________________________________________

  // Custom SurePayroll
  &.case-study-surepayroll {
    .case-study-header {
      background: rgba($mantis, 0.2);

      header h1 {
        color: $mantis;
      }
    }
  }

  // Custom Angular
  &.case-study-angular {
    .case-study-header {
      background: rgba($blue, 0.2);

      header h1 {
        color: $blue;
      }
    }
  }
}
