header.section.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding-top: 0;
  }

  .header-text {
    margin-right: 1rem;

  }

  img {
    @include circle;
    height: 340px;
    width: auto;
    margin-top: 0;
    animation: fade-in 3s;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }
}

