nav.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: transparent;

  .page-title {
    @include title-font();
    font-size: 36px;
    transition: color 0.5s;

    &:hover {
      color: $lilac-medium;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (max-width: 768px) {
      margin-top: 1rem;
    }

    li {
      height: 24px;

      &:not(last-child) {
        margin-right: 1.5rem;
        text-transform: uppercase;
        @include title-font();
        cursor: pointer;
      }
    }

    &.social-link-group a {
      background: rgba($ashgray, 0.1);

      &:hover {
        background: rgba($ashgray, 0.05);
      }
    }
  }

  a {
    color: $darkgray;
    font-weight: 600;

    &:hover {
      color: $lilac-medium;
      text-decoration: none;
    }
  }
}
