nav.navigation {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  z-index: 10;

  &.nav-scroll {
    box-shadow: 0px 1px 3px rgba($lilac, 0.3);
    background: $white;
  }

  &.mobile-nav {
    @media screen and (max-width: 768px) {
      background: $lilac-light;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    > div:first-child {
      @media screen and (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    .logo, .nav-links {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    ul {
      @media screen and (max-width: 768px) {
       margin-top: 1rem;
       flex-direction: column;
       align-items: baseline;
      }

      li {
        @media screen and (max-width: 768px) {
          height: auto;
          font-size: 32px;
          padding: 0.5rem 0;
        }
      }
    }
  }

  button {
    min-width: 0;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: color 0.5s;

    img {
      margin-right: 0.5rem;
    }

    .page-title {
      @include title-font();
      font-size: 24px;

      &:hover {
        color: $lilac-medium;
      }
    }
  }

  .nav-links {
    display: flex;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      height: 24px;

      &.social-link {
        display: flex;
        align-items: center;
      }

      &:not(last-child) {
        margin-right: 1.5rem;
        text-transform: uppercase;
        @include title-font();
        cursor: pointer;
      }
    }

    &.social-link-group a {
      background: rgba($ashgray, 0.1);

      &:hover {
        background: rgba($ashgray, 0.05);
      }
    }
  }

  a {
    color: $darkgray;
    font-weight: 600;

    &:hover {
      color: $lilac-medium;
      text-decoration: none;
    }
  }
}
