.project-highlight {
  background-color: rgba($white, 0.1);
  padding: 2rem;
  border-radius: $border-radius-large;
  transition: all 1s;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    background-color: rgba($white, 0.05);
    transform: translate(0, -4px);
  }

  .project-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .project-summary-image {
      width: 400px;
      border-radius: $border-radius-small;
    }
  }
}
