<main class="content">
  <section class="section">
    <div class="container">
      <h1>About Stefanie</h1>
      <p>
        I'm a UX/UI Designer and Developer based out of California.</p>
        <p>I have over
        10 years of experience in design and 3+ years of development experience.
      </p>
      <p>More to come.</p>
    </div>
    <section class="section highlight-section">
      <div class="container">
        <h2>Contact Me</h2>
        <p>Want to chat about a cool project? <a href = "mailto: sjtrimble@gmail.com">📧 Send me an email</a>!</p>
      </div>
    </section>
  </section>
</main>
