<nav
  class="navigation"
  [ngClass]="{
    'nav-scroll': styleHeader,
    'mobile-nav': isMobile && sideNavOpen
  }"
>
  <div>
    <a class="logo" routerLink="/">
      <img
        src="../../assets/icons/icon-logo.svg"
        alt="Stefanie Fluin logo icon"
      />
      <span class="page-title">Stefanie Fluin</span>
    </a>
    <button *ngIf="isMobile && sideNavOpen" (click)="toggleNav()">
      <img
        src="../../assets/icons/icon-close.svg"
        alt="Close sidenav menu"
        height="24px"
        width="24px"
      />
    </button>
  </div>

  <div
    class="nav-links"
    *ngIf="(sideNavOpen && isMobile) || !isMobile"
    (click)="toggleNav()"
  >
    <ul>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/work">Work</a></li>
      <li><a routerLink="/newsletter">Newsletter</a></li>
      <li>
        <a href="mailto:sjtrimble@gmail.com?Subject=Hello" target="_blank"
          ><img
            src="../../assets/icons/icon-email.svg"
            alt="Email icon"
            height="24px"
            width="24px"
            class="mobile-hide"
        /></a>
        <a href="mailto:sjtrimble@gmail.com?Subject=Hello" target="_blank"
          *ngIf="sideNavOpen"
          >Email</a
        >
      </li>
    </ul>

    <!-- Social Links -->
    <ul class="social-link-group mobile-hide" *ngIf="!hideSocialLinks">
      <li class="social-link">
        <a href="https://www.behance.net/stefaniefluin" target="_blank"
          ><img
            src="../../assets/icons/behance.svg"
            alt="Behance logo icon"
            height="24px"
            width="24px"
        /></a>
      </li>
      <li class="social-link">
        <a href="https://www.linkedin.com/in/stefaniefluin/" target="_blank"
          ><img
            src="../../assets/icons/linkedin.svg"
            alt="LinkedIn logo icon"
            height="24px"
            width="24px"
        /></a>
      </li>
      <li class="social-link">
        <a href="https://www.twitter.com/stefaniefluin" target="_blank"
          ><img
            src="../../assets/icons/twitter.svg"
            alt="Twitter logo icon"
            height="24px"
            width="24px"
        /></a>
      </li>
      <li class="social-link">
        <a href="https://www.github.com/sjtrimble" target="_blank"
          ><img
            src="../../assets/icons/github.svg"
            alt="Twitter logo icon"
            height="14px"
            width="14px"
        /></a>
      </li>
    </ul>
  </div>
  <div *ngIf="!sideNavOpen" class="toggle-group">
    <label class="switch">
      <div class="icons">
        <span *ngIf="isDarkTheme">🌞</span>
        <span *ngIf="!isDarkTheme">🌙</span>
      </div>
      <input (click)="toggleTheme()"   [checked]="isDarkTheme" type="checkbox">
      <span class="slider"></span>
    </label>
    <div>Dark Mode</div>
  </div>
  <button *ngIf="isMobile && !sideNavOpen" (click)="toggleNav()">
    <img
      src="../../assets/icons/icon-menu.svg"
      alt="Open sidenav menu"
      height="24px"
      width="24px"
    />
  </button>
</nav>
