<nav class="navigation" [ngClass]="{'nav-scroll': styleHeader}">
  <a class="logo" routerLink="/">
    <img src="../../assets/icons/icon-logo.svg" />
    <span class="page-title">Stefanie Fluin</span>
  </a>

  <div class="nav-links">
    <ul>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/work">Work</a></li>
      <li><a routerLink="/newsletter">Newsletter</a></li>
      <li>
        <a href="mailto:sjtrimble@gmail.com?Subject=Hello" target="_blank"
          ><img
            src="../../assets/icons/icon-email.svg"
            alt="Email icon"
            height="24px"
            width="24px"
        /></a>
      </li>
    </ul>

    <!-- Social Links -->
    <ul class="social-link-group">
      <li class="social-link">
        <a href="https://www.behance.net/stefaniefluin" target="_blank"
          ><img
            src="../../assets/icons/behance.svg"
            alt="Behance logo icon"
            height="24px"
            width="24px"
        /></a>
      </li>
      <li class="social-link">
        <a href="https://www.linkedin.com/in/stefaniefluin/" target="_blank"
          ><img
            src="../../assets/icons/linkedin.svg"
            alt="LinkedIn logo icon"
            height="24px"
            width="24px"
        /></a>
      </li>
      <li class="social-link">
        <a href="https://www.twitter.com/stefaniefluin" target="_blank"
          ><img
            src="../../assets/icons/twitter.svg"
            alt="Twitter logo icon"
            height="24px"
            width="24px"
        /></a>
      </li>
      <li class="social-link">
        <a href="https://www.github.com/sjtrimble" target="_blank"
          ><img
            src="../../assets/icons/github.svg"
            alt="Twitter logo icon"
            height="14px"
            width="14px"
        /></a>
      </li>
    </ul>
  </div>
</nav>
