// Base Colors
// $darkgray: #484850;
// $darkgray: #364B4E;
$darkgray: #545963;
$ashgray: #AAAAB4;
$lightgray:#F3F3F3;
$lilac: #8884FF;
$lilac-medium: #9a97ec;
$white: #FFFFFF;
$black: #262629;

// Secondary Colors
$mantis: #78BC61;
$blush: #F7717D;
$teal: #14E1DA;
$teal-10: darken($teal, 10%);

// Sizing Units
$border-radius-large: 16px;
$border-radius-small: 3px;

// Color Utilities
.text-lilac {
  color: $lilac;
}

.text-teal {
  color: $teal;
}

.text-mantis {
  color: $mantis;
}

.text-blush {
  color: $blush;
}

.bkgd-lilac {
  background-color: $lilac;
}

.bkgd-teal {
  background-color: $teal;
}

.bkgd-mantis {
  background-color: $mantis;
}

.bkgd-blush {
  background-color: $blush;
}

.text-italic {
  font-style: italic;
}
