// Base Colors
$darkgray: #484850;
$ashgray: #AAAAB4;
$lightgray:#F3F3F3;
$teal: #14E1DA;
$teal-10: darken($teal, 10%);
$white: #FFFFFF;
$black: #262629;

// Sizing Units
$border-radius-large: 16px;
$border-radius-small: 3px;
