<main class="content case-study case-study-angular">
  <section class="section case-study-header">
    <div class="container">
      <header>
        <h1>Official Angular Website</h1>
        <h2 class="subtitle">
          An easy-to-use website tailored to a technical user base.
        </h2>

        <div class="case-study-details">
          <div class="case-study-client">
            <div class="text-subheading">Client</div>
            <p>Angular</p>
            <p>
              Angular is a Google-led open source web application platform for
              building mobile and desktop web applications.
            </p>
          </div>

          <div class="case-study-role">
            <div class="text-subheading">Role</div>
            <p>UX Lead and Engineer</p>
            <p>
              mockups, visual design, design system design, front-end
              development
            </p>
          </div>
        </div>
      </header>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>Project Summary</h2>
      <p>
        The goal of this project was to redesign the official Angular website,
        primarily the technical documentation portion. We needed to provide a
        developer-focused user experience that emphasized the navigation,
        exploration and consumption of highly technical content.
      </p>
      <p>
        Team: Product Owner, Technical Lead, 3 Developers, UX Designer &
        Engineer (myself).
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>The Challenge</h2>
      <ul>
        <li>
          Large amounts of technical content and required emphasis on usability
          and component design surrounding this philosophy.
        </li>
        <li>
          Angular desired a website refresh to match the buzz and excitement
          around their newly re-written platform.
        </li>
      </ul>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>The Solution</h2>
      <!-- <div class="case-study-concept">
        <div class="text-subheading">Summary</div>
      </div> -->

      <div class="case-study-concept">
        <div class="text-subheading">Mockups & Concept Exploration</div>
        <p>
          I provided mockups and element designs with various alternatives.
          These mockups were used to discuss with the technical team prior to
          finalizing and implementation. Some of the items explored through
          mockups included the navigation system, the search feature, the table
          of contents element, and several page layouts such as the marketing
          and community pages.
        </p>
      </div>

      <div class="case-study-concept">
        <div class="text-subheading">Design System & Branding</div>
        <p>
          I developed an on-brand design system that remained within the
          existing Angular branding style guide. The design system included
          style specifications for typography, colors (following Google Material
          Design colors), buttons, callouts and alert information boxes, links,
          table of content elements, code blocks and text, and more.
        </p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>The Results</h2>
      <p>
        The angular.io website is currently viewed about 1.5 million times each
        month!
      </p>

      <p>
        Although the focus of the project was surrounding the technical portion
        of the website, the landing page was very important as it established
        the initial branding experience for the platform. The mockup I designed
        was very different from the original website and went on to be used in
        several implementations such as presentations, third party websites,
        etc. and becoming a staple element for the Angular brand.
      </p>
    </div>
  </section>

  <section class="section section-highlight">
    <div class="container">
      <span class="text-callout">
        Working with the Google Angular team was incredibly rewarding - the team was a pleasure to work with and the rigorous Google methodologies taught me a great deal about software development processes and working within a blended team.
      </span>
    </div>
  </section>
</main>
