<main class="content case-study case-study-angular">
  <section class="section case-study-header">
    <div class="container">
      <header>
        <h1>Angular Documentation Website</h1>
        <h2 class="subtitle">UX Design and Development</h2>

        <div class="case-study-details">
          <p>Case study coming soon. Until then, check out the <a href="https://www.angular.io">Angular documentation website</a> to see some of my design and development work live.</p>
        </div>
      </header>
    </div>
  </section>
</main>
