<div class="grid">

<nav class="navigation container">
    <a class="page-title" href="#">Stefanie Fluin</a>
    <ul>
      <li><a href="">About</a></li>
      <li><a href="">Work</a></li>
      <li><a href="">Explorations</a></li>
      <li><a href="">Contact</a></li>
    </ul>
</nav>

<main class="content">
  <header class="section container">
    <div>
      <h2 class="tagline">I'm Stefanie,<br>
        a UX/UI Designer and Developer<br>
        based out of San Francisco, California.
      </h2>
      <div class="button-group">
        <a href=""><button>Contact Me</button></a>
        <a href=""><button>See Work</button></a>
      </div>
    </div>
    <img src="../assets/stefanie-fluin.jpg" width="auto" height="340px">
  </header>

  <section class="highlight-section">
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam rem culpa facere iure maxime est, quasi dolores obcaecati cum! Quod blanditiis modi, saepe dignissimos iure explicabo perspiciatis neque vero nulla?
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore voluptatem necessitatibus esse voluptate quisquam consequuntur vitae fugit sit nisi? Totam aperiam distinctio minima harum quo! Dicta officia nesciunt voluptate?</p>
    </div>
  </section>

  <section>
    <h2>Works</h2>

  </section>
</main>
<footer class="footer"></footer>
</div>
