body {
  @include body-font();
  background: $black;
  color: $white;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: auto;
  padding: 2rem 1rem;

  main.content & {
    width: 80%;
  }
}

section,
.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &.highlight-section {
    background-color: $darkgray;
    color: $white;
  }
}

ul.no-list-style {
  list-style: none;
  padding: 0 16px;
}
