body {
  @include body-font();
  background: $white;
  color: $darkgray;
  margin: 0;
  padding: 0;
  cursor: url('../../assets/icons/cursor-pointer.svg'), default;
}

// .page-home {
//   background: white url('../../assets/images/bg-wave.svg') no-repeat top;
//   background-position: -30px 0;
// }

.container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: auto;
  padding: 2rem 1rem;

  main.content & {
    width: 80%;
  }
}

main.content {
  min-height: calc(100vh - 242px);
}

section,
.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &.section-highlight {
    background-color: $lightgray;
    margin: auto;
    text-align: center;
  }
}

ul.no-list-style {
  list-style: none;
  padding: 0 16px;
}

// a:focus {
//   outline: none;
//   border: $lilac 2px solid;
//   box-shadow: 0px 0px 2px rgba($lilac, 0.5);
// }
