body {
  @include body-font();
  background: $white;
  color: $darkgray;
  margin: 0;
  padding: 0;

  cursor: url('../../assets/icons/cursor-pointer.svg'), default;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: auto;
  padding: 2rem 1rem;

  main.content & {
    width: 80%;
  }
}

section,
.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &.section-highlight {
    background-color: $darkgray;
    color: $white;
  }
}

ul.no-list-style {
  list-style: none;
  padding: 0 16px;
}

// a:focus {
//   outline: none;
//   border: $lilac 2px solid;
//   box-shadow: 0px 0px 2px rgba($lilac, 0.5);
// }
