h1,
h2,
h3,
h4,
h5,
h6 {
  @include title-font();
}

h2 {
  font-size: 36px;
  margin-bottom: 2rem;
}

h3 {
  font-size: 20px;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
}

a, a:visited, a:active {
  text-decoration: none;
  color: $teal;

  &:hover {
    color: $teal-10;
    transition: color 1s;
  }
}

.tagline {
  font-size: 36px;
  line-height: 58px;
}
