<main class="content case-study case-study-surepayroll">
  <section class="section case-study-header">
    <div class="container">
      <header>
        <div class="text-subheading">A CASE STUDY</div>
        <h1>SurePayroll Onboarding</h1>
        <h2 class="subtitle">
          Redesigning the online customer enrollment experience.
        </h2>

        <div class="case-study-details">
          <div class="case-study-client">
            <div class="text-subheading">Client</div>
            <p>SurePayroll</p>
            <p>
              SurePayroll is a Paychex Company focused on providing small
              business owners with easy-to-use online payroll services.
            </p>
          </div>

          <div class="case-study-role">
            <div class="text-subheading">Role</div>
            <p>UX Lead and Engineer</p>
            <p>
              user flows, wireframing, visual design, prototyping, design system
              design, front-end development
            </p>
          </div>
        </div>
      </header>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>Project Summary</h2>
      <p>
        The goal of this project was to create a new and improved streamlined
        onboarding experience for SurePayroll's small business customers. The
        primary focus was to increase the conversion rate and update the UI and
        aesthetics to a more modern look and feel.
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>The Challenge</h2>
      <p>
        The primary challenge of this project was that payroll accounting is a
        very complex system with lots of rules, regulations, and exceptions.
        Providing a seamless experience to the user while navigating the payroll
        intricacies smoothly was something we aimed to provide in the design and
        experience.
      </p>
      <p>
        There were branding and design constraints to consider as SurePayroll
        wanted to refresh their outdated experience while remaining similar
        enough to their branding guidelines at the time.
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>The Solution</h2>
      <div class="case-study-concept">
        <div class="text-subheading">Summary</div>
        <ul>
          <li>
            Immersive On-Site Workshops: Held several sessions with management,
            stakeholders and subject matter experts to understand the existing
            onboarding experience, goals, desires, and complexities of payroll
            accounting.
          </li>
          <li>Ideate.</li>
          <li>Design, implement, iterate.</li>
        </ul>
      </div>

      <div class="case-study-concept">
        <div class="text-subheading">Low Fidelity Wireframes</div>
        <p>The project kicked off with a week-long discovery phase that included technical, subject matter expert and executive leadership interviews and working sessions. Once the goals and payroll accounting caviats were established, I produced low fidelity wireframes and a clickable prototype that demonstrated the user flow of the new onboarding experience.</p>
        <img
          src="../../assets/images/work/sp-lf-wireframes.png"
          alt="SurePayroll onboarding low fidelity wireframes workflow screenshot from Adobe XD"
          width="100%;"
        />
      </div>

      <div class="case-study-concept">
        <div class="text-subheading">Design System</div>
        <p>SurePayroll was presented with various visual explorations to help guide their vision on their branding refresh for this particular application. They wanted to stay close to their current visual framework. The outcome was a design system that accounted for typography, colors, and all major components such as buttons, alerts, badges, and more.</p>
        <img
          src="../../assets/images/work/sp-design-system.png"
          alt="SurePayroll design system document pages"
          width="100%;"
        />
      </div>

    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2>The Results</h2>
      <ul>
        <li>Increased overall conversion rates by 24%</li>
        <li>
          Increased conversion by 7.3% with complex payroll history customers
        </li>
      </ul>
    </div>
  </section>

  <section class="section section-highlight">
    <div class="container">
      <span class="text-callout">
        I'm grateful for this opportunity and having had the chance to have a material impact through the application of human centered design.
      </span>
    </div>
  </section>
</main>
