<main class="content">
  <section class="section case-study case-study-surepayroll">
    <div class="container">
      <header class="case-study-header">
        <h1>SurePayroll Onboarding</h1>
        <h2 class="subtitle">Redesigning the online customer enrollment experience.</h2>

        <div class="case-study-details">

          <div class="case-study-client">
            <div class="text-subheading">Client</div>
            <p>SurePayroll</p>
            <p>SurePayroll is a Paychex Company focused on providing small business owners with easy-to-use online payroll services.</p>
          </div>

          <div class="case-study-role">
            <div class="text-subheading">Role</div>
            <p>UX Lead and Engineer</p>
            <p>user flows, wireframing, visual design, prototyping, design system design, front-end development</p>
          </div>
        </div>
      </header>
    </div>
  </section>
</main>
