<main class="content page-home">
  <header class="section container">
    <div class="header-text">
      <h1 class="tagline">
        <span>Hola 👋 I'm Stefanie,</span><br>
          <span>a UX/UI Designer and Engineer</span><br>
          <span>based out of Minnesota.</span>
      </h1>
      <div class="button-group">
        <a href="mailto:sjtrimble@gmail.com?Subject=Hello" target="_blank"><button>Contact Me</button></a>
        <a routerLink="/work"><button>See Work</button></a>
      </div>
      <p class="text-italic">
        Available for small remote consulting projects.
      </p>
    </div>
    <img src="/assets/images/sf-2019.png" alt="Stefanie Fluin smiling with greenery in the background"/>
  </header>

  <section class="container">
    <h2>Project Highlights</h2>
    <app-project-highlight *ngFor="let project of projectList" [project]="project">
    </app-project-highlight>
  </section>
</main>
