<main class="content">
  <header class="section container">
    <div class="header-text">
      <h1 class="tagline">
        <!-- Hola 👋 I'm Stefanie,<br />
        a UX/UI Designer and Developer<br />
        based out of California. -->
        <span>Hola 👋 I'm Stefanie,</span><br>
          <span>a UX/UI Designer and Engineer</span><br>
          <span>based out of California.</span>
      </h1>
      <div class="button-group">
        <a href="mailto:sjtrimble@gmail.com?Subject=Hello" target="_blank"><button>Contact Me</button></a>
        <a routerLink="/work"><button>See Work</button></a>
      </div>
    </div>
    <img src="/assets/images/sf-2019.jpg" alt="Stefanie Fluin smiling with desktop computer and laptop in the background"/>
  </header>

  <section class="about-blurb section-highlight">
    <div class="container">
      <p>
        Available for remote or Bay Area based projects.
      </p>
    </div>
  </section>

  <section class="container">
    <h2>Project Highlights</h2>
    <app-project-highlight *ngFor="let project of projectList" [project]="project">
    </app-project-highlight>
  </section>
</main>
