<main class="content">
  <header class="section container">
    <div class="header-text">
      <h1 class="tagline">
        Hola 👋 I'm Stefanie,<br />
        a UX/UI Designer and Developer<br />
        based out of California.
      </h1>
      <div class="button-group">
        <a href="mailto:sjtrimble@gmail.com?Subject=Hello" target="_blank"><button>Contact Me</button></a>
        <a routerLink="/work"><button>See Work</button></a>
      </div>
    </div>
    <img src="../assets/images/stefanie-fluin.jpg" width="auto" height="340px" />
  </header>

  <section class="about-blurb highlight-section">
    <div class="container">
      <p>
        Available for remote or Bay Area based projects.
      </p>
    </div>
  </section>

  <section class="container">
    <!-- <h2>Works</h2> -->
  </section>
</main>
